save-exact=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
shamefully-hoist=false
legacy-peer-deps=false
resolution-mode=highest
use-node-version=24.11.1
engine-strict=true
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
node-version-matches=true
dedupe-peer-dependents=true
lockfile=true
save-workspace-protocol=rolling
