services:
  postgres:
    image: postgres:16-alpine
    container_name: rebeca-hexagonal-nest-template-db
    environment:
      POSTGRES_USER: rebeca-hexagonal-nest-template
      POSTGRES_PASSWORD: rebeca-hexagonal-nest-template
      POSTGRES_DB: rebeca-hexagonal-nest-template
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U rebeca-hexagonal-nest-template" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
